body
{
  overflow: hidden;
}

#editor
{
  position: absolute;
  width: 670px; left: 0px; top: 0px; bottom: 0px;
}

#editor textarea
{
  resize: none;
}

#tabs
{
  position: absolute;
  left: 670px; right: 0px; top: 0px; bottom: 0px;
}

#tabs li a
{
  font-size: 10px;
}

#tabs > div
{
  position: relative;
  margin: 2px 0px 0px 0px;
  padding: 0px;
  width: 100%;
  height: calc(100% - 28px);
}

/*******************************************************************************
* AST Viewer
*******************************************************************************/
#ast-svg
{
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
}

#ast-svg rect
{
  fill: #cccccc;
  stroke: #000000;
  stroke-width: 2;
}

#ast-svg rect:hover
{
  fill: #eeeeee;
}

#ast-svg line, #ast-svg polyline
{
  fill: none;
  stroke: #000000;
  stroke-width: 2;
}

#ast-svg text
{
  pointer-events: none;
}

/*******************************************************************************
* IMF Viewer
*******************************************************************************/
#imf-tabs
{
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}

#imf-tabs > div
{
  position: absolute;
  top: 40px; left: 0; right: 0; bottom: 0;
  padding: 0; margin: 0;
  overflow: auto;
}

#imf-tabs svg
{
  display: block;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

#imf-tabs rect
{
  fill: #cccccc;
  stroke: #000000;
  stroke-width: 2;
}

#imf-tabs .opt
{
  top: 0; left: 0;
  position: absolute;
}

#imf-tabs line, rect, #imf-tabs polyline, #imf-tabs path:not(.arrow)
{
  fill: none;
  stroke: #000000;
  stroke-width: 2;
}
