body
{
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#editor
{
  position: absolute;
  top: 0px; left: 0px; bottom: 0px;
  width: 400px;
}

#tabs
{
  position: absolute;
  left: 400px; right: 0px; top: 0px; bottom: 0px;
}

#tabs li a
{
  font-size: 10px;
}

#tabs > div
{
  position: relative;
  margin: 2px 0px 0px 0px;
  padding: 0px;
  width: 100%;
  height: calc(100% - 28px);
}

/*******************************************************************************
* AST Viewer
*******************************************************************************/
#ast-svg
{
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
}

#ast-svg rect
{
  fill: #cccccc;
  stroke: #000000;
  stroke-width: 2;
}

#ast-svg .old rect
{
  fill: #666666;
}

#ast-svg .old rect:hover
{
  fill: #cccccc;
}

#ast-svg rect:hover
{
  fill: #eeeeee;
}

#ast-svg rect:hover
{
  fill: #eeeeee;
}

#ast-svg line, #ast-svg polyline
{
  fill: none;
  stroke: #000000;
  stroke-width: 2;
}

#ast-svg .oldLine
{
  stroke: #000000;
  stroke-dasharray: 2,3;
}

#ast-svg text
{
  pointer-events: none;
}

/*******************************************************************************
* IMF Viewer
*******************************************************************************/
#imf-tabs
{
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}

#imf-tabs > div
{
  position: absolute;
  top: 40px; left: 0; right: 0; bottom: 0;
  padding: 30px 0 0 0;
  margin: 0
}

#imf-tabs .header
{
  position: absolute;
  top: 0; left: 0; right: 0; height: 40px;
}

#imf-tabs .header > .prev
{
  position: absolute;
  left: 0px;
}

#imf-tabs .header > .next
{
  position: absolute;
  right: 0px;
}

#imf-tabs .header > span
{
  position: absolute;
  top: 0px; left: 40px; right: 40px; bottom: 0px;
  text-align: center;
}

#imf-tabs .content
{
  position: absolute;
  top: 40px; left: 0; right: 0; bottom: 0;
  overflow: auto;
}

#imf-tabs .imf
{
  display: block;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

#imf-tabs .imf rect
{
  fill: #cccccc;
  stroke: #000000;
  stroke-width: 2;
}

#imf-tabs .imf line,
#imf-tabs .imf polyline,
#imf-tabs .imf path:not(.arrow)
{
  fill: none;
  stroke: #000000;
  stroke-width: 2;
}

#imf-tabs .igraph
{
  position: absolute;
  top: 0px; left: 0px; right: 0px; bottom: 0px2;
}

#imf-tabs .igraph circle
{
  stroke: #000000;
  stroke-width: 2;
}

#imf-tabs .igraph path:not(.arrow)
{
  fill: none;
  stroke: #000000;
  stroke-width: 2;
}

#imf-tabs .igraph text
{
  dominant-baseline: central;
  text-anchor: middle;
  font-family: "Droid Sans Mono";
  font-size: 32px;
}