<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>
    {% block title %}
    {{ SITENAME }}
    {% if title %}
      &middot; {{ title }}
    {% endif %}
    {% endblock %}
  </title>
  {% if article %}
    {% set content = article %}
  {% elif page %}
    {% set content = page %}
  {% endif %}
  {% if content %}
    {% if content.latex %}
      {{ content.latex }}
    {% endif %}
  {% endif %}
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/main.css" />
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/bootstrap.css" />
  <link href='http://fonts.googleapis.com/css?family=Fenix' rel='stylesheet' type='text/css'>
</head>
<body>
  {% include 'navigation.html' %}
  {% block content %}
  {% endblock %}
  <script type="text/javascript" src="{{ SITEURL }}/theme/js/jquery.js"></script>
  <script type="text/javascript" src="{{ SITEURL }}/theme/js/parallax.js"></script>
  <script type="text/javascript" src="{{ SITEURL }}/theme/js/stickynav.js"></script>
  <script type="text/javascript" src="{{ SITEURL }}/theme/js/background.js"></script>
  <script type="text/javascript" src="{{ SITEURL }}/theme/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    (function () {
      $(function () {
        var demo = $("#demo");
        demo.on('load', function () {
          demo.contents().find("#btn-back").remove();
        });

        var resize = function () {
          var height = parseInt($(window).height()) - parseInt($(".navbar").outerHeight()) - 2;
          demo.parent()
            .height(height)
            .css("padding", 0);

          demo
            .height(height)
            .width(parseInt($(window).width() - 1));

          requestAnimationFrame(resize);
        };

        resize();
      });
    }) ();
  </script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-49169306-1', 'ic.ac.uk');
  ga('send', 'pageview');
  </script>
    {% if content and content.citation %}
      {{ content.citation}}
    {% endif %}
</body>
</html>
