<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>
    {% block title %}
    {{ SITENAME }}
    {% if title %}
      &middot; {{ title }}
    {% endif %}
    {% endblock %}
  </title>
  {% if article %}
    {% set content = article %}
  {% elif page %}
    {% set content = page %}
  {% endif %}
  {% if content %}
    {% if content.latex %}
      {{ content.latex }}
    {% endif %}
  {% endif %}
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/main.css" />
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/bootstrap.css" />
  <link href='http://fonts.googleapis.com/css?family=Fenix' rel='stylesheet' type='text/css'>
</head>
<body>
  {% include 'navigation.html' %}
  {% block content %}
  {% endblock %}
  <script type="text/javascript" src="{{ SITEURL }}/theme/js/jquery.js"></script>
  <script type="text/javascript" src="{{ SITEURL }}/theme/js/parallax.js"></script>
  <script type="text/javascript" src="{{ SITEURL }}/theme/js/stickynav.js"></script>
  <script type="text/javascript" src="{{ SITEURL }}/theme/js/background.js"></script>
  <script type="text/javascript" src="{{ SITEURL }}/theme/js/bootstrap.min.js"></script>
  {# Comment out because including in main file to help with debugging #}
  {#<script type="text/javascript" src="{{ SITEURL }}/theme/js/scroll2anchor.js"></script>#}
  <script type="text/javascript">
    (function () {
      $(function () {
        var demo = $("#demo");
        demo.on('load', function () {
          demo.contents().find("#btn-back").remove();
        });

        var resize = function () {
          var height = parseInt($(window).height()) - parseInt($(".navbar").outerHeight()) - 2;
          demo.parent()
            .height(height)
            .css("padding", 0);

          demo
            .height(height)
            .width(parseInt($(window).width() - 1));

          requestAnimationFrame(resize);
        };

        resize();
      });
      var root = window.location.href.replace(window.location.hash, '')
        , maxMobileWidth = 768
        , speed = 0.5 // Milliseconds per pixel.
      
      var $window = $(window)
        , $body = $('body')
        , $html = $('html');
      
      // Scroll to anchor-point code
      $('a').each(function(i, item){
        if (item.href.indexOf(root + '#') != -1) {
          var target_name;
          var target;
          target_name = item.href.split('#')[1];
      
          // No anchor specified - top of page.
          if (target_name === "") {
            target = $body;
          }
          else{
            target = $('[name=' + target_name + ']');
          }
          if (target.length == 0) return;
      
          $(item).click(function (e) {
            // Do not scroll on mobile devices (js performance
            // generally slow)
            if ($window.width() < maxMobileWidth) return;
            // Scroll to position and then set URL on completion.
            e.preventDefault();
      
            var duration;
            duration = speed * Math.abs(target.offset().top - 
                              $window.scrollTop());
            // Webkit
            $body.animate({
              scrollTop: target.offset().top
            }, { queue: true
               , duration: duration
               , complete: function() {
                window.location.hash = item.href.split('#')[1];
               }
            });
      
            // Firefox 
            $html.animate({
              scrollTop: target.offset().top
            }, { queue: true
               , duration: duration
               , complete: function() {
                window.location.hash = item.href.split('#')[1];
               }
            });
            duration = null;
            e        = null;
            // Any idea what IE does?
          });
          target_name = null;
        }
      });
      root = null;
    }) ();
  </script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-49169306-1', 'ic.ac.uk');
  ga('send', 'pageview');
  </script>
    {% if content and content.citation %}
      {{ content.citation}}
    {% endif %}
</body>
</html>
