{% extends "base.html" %}

{# set category_colour = cycler('red', 'orange', 'yellow', 'green', 'blue') #}
{% set category_colour = cycler('cyan', 'darkyellow', 'peach')%}

{% block content %}
<header id="hero">
  <div id="hero-container">
    <div id="hero-inner">
      <h1>Program Analysis</h1>
    </div>
  </div>
  <canvas id="hero-background"></canvas>
</header>
<div class="container">
{% for cat, articles in categories %}
  {# <section id="{{ cat|lower }}" class="category-picture parallax" style="background-image:
      url('{{SITEURL}}/theme/images/covers/{{ cat|lower|urlencode}}.jpg');">
  </section> #}
  <section id="{{ cat|replace(' ','-')}}" class="category-intro {{ category_colour.next() }}">
    <div class="category-wrapper">
      <div class="category-inner">
    <h2>{{ cat }}</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-5">
        {# This is a horrible way to do this #}
        <p>{{ INTROS.get(cat|trim|lower) }}</p>
      </div>
      <div class="col-xs-12 col-sm-3">
        <ul class="list">

        {% for article in articles %}
          <li><a href="{{ article.url }}">{{ article.title }}</a></li>
        {% endfor %}

        </ol>
      </div>
      <div class="col-xs-12 col-sm-4 cover-image">
        <img src="{{SITEURL}}/theme/images/covers/{{ cat|lower|urlencode}}.jpg"/>
      </div>
    </div>
  </section>
{% endfor %}
</div>
  <section class="category-intro">
    <iframe id="demo" class="demo" frameBorder="0" src="app/"></iframe>
  </section>
{% endblock %}
