{% extends "base.html" %}

{# set category_colour = cycler('red', 'orange', 'yellow', 'green', 'blue') #}
{% set category_colour = cycler('cyan', 'darkyellow', 'peach')%}

{% block content %}
<header id="hero" class="parallax">
  <div id="hero-inner">
    Program Analysis
  </div>
  <canvas id="hero-background"></canvas>
</header>
{% for cat, articles in categories %}
  <section id="{{ cat|replace(' ','-')}}" class="category-intro {{ category_colour.next() }}">
    <div class="category-wrapper">
      <div class="category-inner">
    <h2>{{ cat }}</h2>
    <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-5">
        {# This is a horrible way to do this #}
        <p>{{ INTROS.get(cat|trim|lower) }}</p>
      </div>
      <div class="col-xs-12 col-sm-3">
        <ul class="list">

        {% for article in articles %}
          <li><a href="{{ article.url }}">{{ article.title }}</a></li>
        {% endfor %}

        </ol>
      </div>
      <div class="col-xs-12 col-sm-4 cover-image">
        <img src="{{SITEURL}}/theme/images/covers/{{ cat|lower|urlencode}}.jpg"/>
      </div>
    </div>
    </div>
  </section>
{% endfor %}
<div class="button-footer darkyellow">
<a href="app/" class="btn btn-lg btn-default">Now try it for yourself!</a>
</div>
{% endblock %}
