{% extends "base.html" %}

{% block content %}
<header id="hero">
  <h1>Program Analysis</h1>
</header>
{% for cat, articles in categories %}
  <section id="{{ cat|lower }}" class="category-picture parallax" style="background-image:
      url('{{SITEURL}}/theme/images/covers/{{ cat|lower|urlencode}}.jpg');">
  </section>
  <section class="category-intro">
    <h2>{{ cat }}</h2>
    <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        {# This is a horrible way to do this #}
        <p>{{ INTROS.get(cat|trim|lower) }}</p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <ol class="list">

        {% for article in articles %}
          <li><a href="{{ article.url }}">{{ article.title }}</a></li>
        {% endfor %}

        </ol>
      </div>
  </section>
{% endfor %}
  <section class="category-intro">
    <iframe id="demo" class="demo" frameBorder="0" src="app/"></iframe>
  </section>
{% endblock %}
