body, html {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  padding-top: 0;
}

/* Home */
/********/
/* Hero */
#hero {
  padding: 20px;
  text-align: center;
  background-color: #363A35;
  color: #ffffff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  //height: 100%;
  height: calc(100% - 10px);
  width: 100%;
  left: 0;
  top: 0;
  position: relative;
}

#hero-background {
  position: absolute;
  top: 0; left: 0;
  z-index: 0;
}

#hero-container {
  position: relative;
  z-index: 10;
}
/* Categories */
section {
  //background-color: #FEFEFE!important;
  border: solid 1px #222;
}
section.category-picture {
  background: no-repeat;
  background-size: cover;
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  background-position: 50% 50%;
}

.cover-image img {
  height: auto;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 15px #000;
}
.category-intro pre {
  box-shadow: 0px 0px 15px #000;
}
.red {
  background-color: #F16663;
}
.category-intro a, .category-intro a:hover, .category-intro a:link, .category-intro a:focus, .category-intro a:visited {
    color: #111;
}
.orange {
  background-color: #F48D6C;    
}
.yellow {
  background-color: #F2E07B;
}
.green {
  background-color: #8ABE9B;
}
.blue {
  background-color: #4A6D8B;
}
.cyan {
  background-color: #1CB2BD
}
.darkyellow {
  background-color: #EDB81D;
}
.peach {
  background-color: #ED694F;
}
.white {
  background-color: #F0F0EA;
}


section.category-intro {
  display: block;
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  //background: #FFF;
  min-height: 300px;
  padding: 10px 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Fenix', serif!important;
  font-size: 18px!important;
}

.cite-highlight {
  background-color: #FF0;
}

/*** Articles ***/
article {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  border: 2px solid #EEE;
  -webkit-border-radius: 5px;
  -moz-border-radius:    5px;
  -ms-border-radius:     5px;
  border-radius:         5px;
  font-size: 18px!important;
  font-family: 'Fenix', serif!important;
}

article div.article-title h1 {
  text-align: center;
  border-bottom: 1px solid #333;
  font-size: 70.199px!important;
  padding-bottom: 0;
}

article div.article-author {
  text-align: right;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 14px;
}

article img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/*** NAVBAR ***/
.navbar {
  z-index: 100;
  position: absolute;
  margin: 0!important;
  float: right;
  width: 100%;
}

.demo {
  position: absolute;
  top: 0; left: 0;
}
