body
{
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "Droid Sans Mono";
}

#editor
{
  position: absolute;
  top: 0px; left: 0px; bottom: 0px;
  width: 400px;
  font-size: 13px;
}

#sidebar
{
  position: absolute;
  left: 0px; width: 0px; top: 0px; bottom: 0px;
  z-index: 1000;
}

#sidebar > ul
{
  position: absolute;
  display: block;
  width: 130px;
  left: -130px;
  bottom: 0px;
  margin-bottom: 35px;
  list-style-type: none;
  padding: 0;
}

#sidebar > ul > li
{
  cursor: pointer;
}

#sidebar > ul > li:hover
{
  padding: 5px;
}

#sidebar > ul > li.selected
{
  font-weight: bold;
}

#sidebar .handle
{
  position: absolute;
  bottom: 5px; left: 5px; height: 16px; width: 100px;
  padding: 4px 0 8px 0;
  background-color: #bdc3ce;
  border: 1px solid #222222;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

#sidebar .handle:hover
{
  background-color: #ced4df;
}

#tabs
{
  position: absolute;
  left: 400px; right: 0px; top: 0px; bottom: 0px;
}

#tabs li a
{
  font-size: 14px;
}

#tabs > div
{
  position: relative;
  margin: 2px 0px 0px 0px;
  padding: 0px;
  width: 100%;
  height: calc(100% - 36px);
}

/*******************************************************************************
* AST Viewer
*******************************************************************************/
#ast-svg-holder
{
  position: absolute;
  width: 100%; height: 100%;
  left: 0; top: 0; right: 0; bottom: 10px;
  overflow: auto;
}

#ast-svg
{
}

#ast-svg rect
{
  fill: #cccccc;
  stroke: #000000;
  stroke-width: 2;
  cursor: pointer;
}

#ast-svg .old rect
{
  fill: #666666;
  cursor: pointer;
}

#ast-svg .old rect:hover
{
  fill: #cccccc;
}

#ast-svg rect:hover
{
  fill: #eeeeee;
}

#ast-svg rect:hover
{
  fill: #eeeeee;
}

#ast-svg line, #ast-svg polyline
{
  fill: none;
  stroke: #000000;
  stroke-width: 2;
}

#ast-svg .oldLine
{
  stroke: #000000;
  stroke-dasharray: 2,3;
}

#ast-svg text
{
  pointer-events: none;
  font-family: "Droid Sans Mono";
}

/*******************************************************************************
* IMF Viewer
*******************************************************************************/
#imf-tabs
{
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}

#imf-tabs > div
{
  position: absolute;
  top: 40px; left: 0; right: 0; bottom: 0;
  padding: 30px 0 0 0;
  margin: 0px;
}

#imf-tabs .header
{
  position: absolute;
  top: 0; left: 0; right: 0; height: 40px;
}

#imf-tabs .header > .prev
{
  position: absolute;
  left: 3px; top: 3px;
  font-size: 14px;
}

#imf-tabs .header > .next
{
  position: absolute;
  right: 3px; top: 3px;
  font-size: 14px;
}

#imf-tabs .header > span
{
  position: absolute;
  top: 0px; left: 40px; right: 40px; bottom: 0px;
  text-align: center;
}

#imf-tabs .content
{
  position: absolute;
  top: 40px; left: 0; right: 0; bottom: 5px;
  overflow: auto;
}

#imf-tabs .imf
{
  display: block;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

#imf-tabs .imf > g rect:not(.kill)
{
  fill: rgba(200, 200, 200, 0.7);
  stroke: #000000;
  stroke-width: 2;
  cursor: pointer;
}

#imf-tabs .imf > g .kill
{
  pointer-events: none;
  stroke: none;
}

#imf-tabs .imf > g line,
#imf-tabs .imf > g polyline,
#imf-tabs .imf > path
{
  fill: none;
  stroke: #000000;
  stroke-width: 2;
}

#imf-tabs .imf > g text
{
  font-family: "Droid Sans Mono";
  pointer-events: none;
}

#imf-tabs .igraph
{
  position: absolute;
  width: 100%; height: 100%;
  top: 0px; left: 0px; right: 0px; bottom: 0px;
}

#imf-tabs .igraph > g circle
{
  stroke: #000000;
  stroke-width: 2;
}

#imf-tabs .igraph > path
{
  fill: none;
  stroke: #000000;
  stroke-width: 2;
}

#imf-tabs .igraph > g text
{
  dominant-baseline: central;
  text-anchor: middle;
  font-family: "Droid Sans Mono";
  font-size: 32px;
  pointer-events: none;
}
